{% extends 'base.html' %}
{% block content %}
        <div class="container-fluid padding">
        <div class="row welcome text-center">
            <div class="col-12">
                {% for message in get_flashed_messages() %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endfor %}
                <h1 class="display-4 tst">Your habits for today:</h1>
                <a href="/add/" class="btn">Add Habit</a>
            </div>
            <hr>
            <div class="col-12">
                {% if count == 0 %}
                    <p class="lead">There is no habits. Come back tommorow or add a habit.</p>
                {% endif %}

                {% for habit in unchecked_habits %}
                    <p class="lead tst">{{ habit.name }}</p>
                    <a href="{{ url_for('habits.check', habit_id=habit.id) }}" class="btn">Check!</a>
                    <a href="{{ url_for('habits.delete', habit_id=habit.id) }}" class="btn">Delete</a>
                    <br>
                    <br>
                {% endfor %}

            </div>

            <div class="col-12">
                <h1 class="display-4">Done today:</h1>
            </div>
            <hr>
            <div class="col-12">
                {% for habit in checked_habits %}
                    <p class="lead tst">{{ habit.name }}</p>
                    <a href="{{ url_for('habits.delete', habit_id=habit.id) }}" class="btn">Delete</a>  Streak: {{ habit.streak }}
                    <br>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}