{% extends 'base.html' %}
{% block content %}
    <div class="modal-dialog text-center">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        <div class="col-sm-8 main-section">
            <div class="modal-content">

                <div class="col-12 user-img">
                    <img src="{{ url_for('static', filename='img/face.png') }}">
                </div>

                <form class="col-12" method="post" action="/login/">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        {{ form.username(placeholder="Enter Username", class_="form-control") }}
                        <span class="error">
                            {% if form.username.errors %}
                                {% for error in form.username.errors %}
                                    {{ error }}
                                {% endfor %}
                            {% endif %}
                        </span>
                    </div>
                    <div class="form-group">
                        {{ form.password(placeholder="Enter Password", class_="form-control") }}
                        <span class="error">
                            {% if form.password.errors %}
                                {% for error in form.password.errors %}
                                    {{ error }}
                                {% endfor %}
                            {% endif %}
                        </span>
                    </div>
                    <div>
                        {{ form.remember_me.label }}
                        {{ form.remember_me }}
                    </div>
                    <button type="submit" class="btn">Login</button>
                </form>

            </div>
        </div>
    </div>
{% endblock %}